In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
# from sklearn.model_selection import train_test_split
# import tensorflow as tf
# from tensorflow import keras
# from tensorflow.keras import layers
# physical_devices = tf.config.list_physical_devices('GPU')
# tf.config.experimental.set_memory_growth(physical_devices[0], enable=True)

In [2]:
application = pd.read_csv('./data/application_train.csv')
# bureau = pd.read_csv('./data/bureau.csv')
# bureau_balance =  pd.read_csv('./data/bureau_balance.csv')
previous_application =  pd.read_csv('./data/previous_application.csv')
credit_card_balance =  pd.read_csv('./data/credit_card_balance.csv')
POS_CASH_balance =  pd.read_csv('./data/POS_CASH_balance.csv')
installments_payments =  pd.read_csv('./data/installments_payments.csv')

In [6]:
x=credit_card_balance['MONTHS_BALANCE'].astype('str')+credit_card_balance['SK_ID_CURR'].astype('str')
y=POS_CASH_balance['MONTHS_BALANCE'].astype('str')+POS_CASH_balance['SK_ID_CURR'].astype('str')

In [15]:
print('unique',len(list(set(x) & set(y))))
print('lenx',len(set(x)))
print('leny',len(set(y)))

unique 1609574
lenx 3833171
leny 8592907

In [7]:
print(application.columns & previous_application.columns)
print(previous_application.columns)

Index(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_CREDIT', 'AMT_ANNUITY',
       'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'WEEKDAY_APPR_PROCESS_START',
       'HOUR_APPR_PROCESS_START'],
      dtype='object')
Index(['SK_ID_PREV', 'SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_ANNUITY',
       'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY',
       'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY',
       'RATE_INTEREST_PRIVILEGED', 'NAME_CASH_LOAN_PURPOSE',
       'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE',
       'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'SELLERPLACE_AREA', 'NAME_SELLER_INDUSTRY',
       'CNT_PAYMENT', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION',
       'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
       'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL'],
      dtype='object')

<ipython-input-7-92995f9b8e07>:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  print(application.columns & previous_application.columns)

In [8]:
data = pd.merge(application, previous_application, how='left')

In [9]:
data = pd.merge(data, POS_CASH_balance, how='left')

In [10]:
data = pd.merge(data, credit_card_balance, how='left')

In [21]:
data.to_excel('allmerger.xlsx')

In [1]:
data['MONTHS_BALANCE'].isna().sum()/(len(data['MONTHS_BALANCE']))

NameError: name 'data' is not defined

In [17]:
print(len(set(credit_card_balance['SK_ID_PREV'].astype('str'))))
print(len(set(POS_CASH_balance['SK_ID_PREV'].astype('str'))))

104307
936325

In [3]:
data=pd.merge(credit_card_balance, POS_CASH_balance, how='outer', left_on=['SK_ID_PREV','SK_ID_CURR','MONTHS_BALANCE'], right_on=['SK_ID_PREV','SK_ID_CURR','MONTHS_BALANCE'])

In [5]:
data.isna()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS_x,SK_DPD_x,SK_DPD_DEF_x,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS_y,SK_DPD_y,SK_DPD_DEF_y
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13841665,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,False,False,False,False,False
13841666,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,False,False,False,False,False
13841667,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,False,False,False,False,False
13841668,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,False,False,False,False,False
13841669,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,False,False,False,False,False

In [8]:
data[data['SK_ID_CURR_x']==378907]

Empty DataFrame
Columns: [SK_ID_PREV, SK_ID_CURR_x, MONTHS_BALANCE, AMT_BALANCE, AMT_CREDIT_LIMIT_ACTUAL, AMT_DRAWINGS_ATM_CURRENT, AMT_DRAWINGS_CURRENT, AMT_DRAWINGS_OTHER_CURRENT, AMT_DRAWINGS_POS_CURRENT, AMT_INST_MIN_REGULARITY, AMT_PAYMENT_CURRENT, AMT_PAYMENT_TOTAL_CURRENT, AMT_RECEIVABLE_PRINCIPAL, AMT_RECIVABLE, AMT_TOTAL_RECEIVABLE, CNT_DRAWINGS_ATM_CURRENT, CNT_DRAWINGS_CURRENT, CNT_DRAWINGS_OTHER_CURRENT, CNT_DRAWINGS_POS_CURRENT, CNT_INSTALMENT_MATURE_CUM, NAME_CONTRACT_STATUS_x, SK_DPD_x, SK_DPD_DEF_x, SK_ID_CURR_y, CNT_INSTALMENT, CNT_INSTALMENT_FUTURE, NAME_CONTRACT_STATUS_y, SK_DPD_y, SK_DPD_DEF_y]
Index: []

[0 rows x 29 columns]

In [12]:
data

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS_x,SK_DPD_x,SK_DPD_DEF_x,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS_y,SK_DPD_y,SK_DPD_DEF_y
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,1.0,35.0,Active,0,0,NaN,NaN,NaN,NaN,NaN
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,0.0,69.0,Active,0,0,NaN,NaN,NaN,NaN,NaN
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,0.0,30.0,Active,0,0,NaN,NaN,NaN,NaN,NaN
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,0.0,10.0,Active,0,0,NaN,NaN,NaN,NaN,NaN
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,1.0,101.0,Active,0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,-9,0.000,45000,NaN,0.0,NaN,NaN,0.000,...,NaN,0.0,Active,0,0,NaN,NaN,NaN,NaN,NaN
3840308,1714892,347207,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,...,0.0,23.0,Active,0,0,NaN,NaN,NaN,NaN,NaN
3840309,1302323,215757,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,...,0.0,18.0,Active,0,0,NaN,NaN,NaN,NaN,NaN
3840310,1624872,430337,-10,0.000,450000,NaN,0.0,NaN,NaN,0.000,...,NaN,0.0,Active,0,0,NaN,NaN,NaN,NaN,NaN
3840311,2411345,236760,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,...,0.0,21.0,Completed,0,0,NaN,NaN,NaN,NaN,NaN

In [ ]:
POS_CASH_balance.sort_values(by=['SK_ID_CURR','SK_ID_PREV','MONTHS_BALANCE'])

In [ ]:
pd.isna(POS_CASH_balance['SK_ID_CURR']).sum()

In [ ]:
POS_CASH_balance['SK_ID_PREV'] = POS_CASH_balance['SK_ID_PREV'].astype('str')
POS_CASH_balance['SK_ID_CURR'] = POS_CASH_balance['SK_ID_CURR'].astype('str')
POS_CASH_balance['MONTHS_BALANCE'] = POS_CASH_balance['MONTHS_BALANCE'].astype('str')
credit_card_balance['SK_ID_PREV'] = credit_card_balance['SK_ID_PREV'].astype('str')
credit_card_balance['SK_ID_CURR'] = credit_card_balance['SK_ID_CURR'].astype('str')
credit_card_balance['MONTHS_BALANCE'] = credit_card_balance['MONTHS_BALANCE'].astype('str')

In [16]:
credit_card_balance.dtypes

SK_ID_PREV                      int64
SK_ID_CURR                      int64
MONTHS_BALANCE                  int64
AMT_BALANCE                   float64
AMT_CREDIT_LIMIT_ACTUAL         int64
AMT_DRAWINGS_ATM_CURRENT      float64
AMT_DRAWINGS_CURRENT          float64
AMT_DRAWINGS_OTHER_CURRENT    float64
AMT_DRAWINGS_POS_CURRENT      float64
AMT_INST_MIN_REGULARITY       float64
AMT_PAYMENT_CURRENT           float64
AMT_PAYMENT_TOTAL_CURRENT     float64
AMT_RECEIVABLE_PRINCIPAL      float64
AMT_RECIVABLE                 float64
AMT_TOTAL_RECEIVABLE          float64
CNT_DRAWINGS_ATM_CURRENT      float64
CNT_DRAWINGS_CURRENT            int64
CNT_DRAWINGS_OTHER_CURRENT    float64
CNT_DRAWINGS_POS_CURRENT      float64
CNT_INSTALMENT_MATURE_CUM     float64
NAME_CONTRACT_STATUS           object
SK_DPD                          int64
SK_DPD_DEF                      int64
dtype: object

In [ ]:
print(previous_application.shape)
print(credit_card_balance.shape)
print(POS_CASH_balance.shape)
print(installments_payments.shape)

In [ ]:
print(oi)

In [ ]:
credit_card_balance.shape

In [ ]:
POS_CASH_balance.groupby(['SK_ID_CURR','SK_ID_PREV','MONTHS_BALANCE']).agg({'CNT_INSTALMENT':'mean'})

In [ ]:
x=credit_card_balance['MONTHS_BALANCE'].astype('str')+credit_card_balance['SK_ID_CURR'].astype('str')+credit_card_balance['SK_ID_PREV'].astype('str')
print(len(x))
print(len(x.unique()))

In [ ]:
x=POS_CASH_balance['MONTHS_BALANCE'].astype('str')+POS_CASH_balance['SK_ID_CURR'].astype('str')+POS_CASH_balance['SK_ID_PREV'].astype('str')
print(len(x))
print(len(x.unique()))

In [ ]:
print(credit_card_balance.columns)
print(POS_CASH_balance.columns)

In [ ]:
data = POS_CASH_balance.merge(credit_card_balance, on=['SK_ID_PREV'] , how='inner')

In [ ]:
data

In [ ]:
x=POS_CASH_balance['SK_ID_PREV'].astype('str')+data['SK_ID_CURR'].astype('str')+data['MONTHS_BALANCE'].astype('str')

In [ ]:
len(x)

In [ ]:
len(x.unique())

In [ ]:
print(oi)

In [ ]:
x[:10]

# estou tentado juntar credit_card_balance e POS_CASh em id current e mes. para ver se estava funcionando criei x, juncao de mes e id. se estivesse certo cada x[i] seria unico. esta errado, len de x diverente de len de x unique

In [ ]:
data = bureau[['SK_ID_CURR','SK_ID_BUREAU']].merge(bureau_balance, on='SK_ID_BUREAU', how='inner')

In [ ]:
data = data.replace(['C','X'],0)
data['STATUS'] = data['STATUS'].astype(int)

In [ ]:
data = data.groupby(['SK_ID_CURR','MONTHS_BALANCE']).agg({'STATUS':'mean'}).unstack().fillna(0)

In [ ]:
POS_CASH_balance.groupby(['SK_ID_CURR','MONTHS_BALANCE']).agg({'CNT_INSTALMENT':'mean', 'CNT_INSTALMENT_FUTURE':'mean'}).unstack().fillna(0)

In [ ]:
data

In [ ]:
data = data.merge(application[['SK_ID_CURR','TARGET']], on= 'SK_ID_CURR')

In [ ]:
data[data.columns[1:-1]]

In [ ]:
npdata=data[data.columns[1:-1]].to_numpy().reshape((92231,97,1))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(npdata, data['TARGET'], test_size=0.33, random_state=42)

In [ ]:
npdata.train_test

In [ ]:
npdata.shape

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.LSTM(30, return_sequences = True),
    tf.keras.layers.LSTM(2, return_sequences = False)
])

In [ ]:
model.compile(optimizer='adam', 
              loss='mean_squared_error', 
              metrics='accuracy')

In [ ]:
history = model.fit(x=X_train, y=y_train, epochs= 20, batch_size=300, validation_data=(X_test,y_test) )

In [ ]:
history.history.keys()

In [ ]:
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'val'], loc='upper left')
plt.show()

In [ ]:
# data[data.columns[1:-1]].reshape(92231, 97,1)
np.reshape(data, data.shape + (1,))

In [ ]:
np.reshape(data[data.columns[1:-1]], ( 97,1))

In [ ]:
print(data[data.columns[1:-1]].shape, data['TARGET'].shape)

In [ ]:
model.fit(x=data[data.columns[1:-1]], y=data['TARGET'], epochs= 10)

In [ ]:
bureau_balance[bureau_balance['STATUS'].isna()==True]

In [ ]:
bureau_balance.groupby(['SK_ID_CURR','MONTHS_BALANCE']).agg({'STATUS':'first'}).unstack()

In [ ]:
months=bureau_balance['MONTHS_BALANCE'].unique()
id_b= bureau_balance['SK_ID_BUREAU'].unique()

In [ ]:
pivoted_bureau_balance = pd.DataFrame(index=id_b, columns=months)

In [ ]:
for i, column in bureau_balance:
    print(i)

In [ ]:
pd.pivot_table(bureau_balance, values='STATUS', index='SK_ID_BUREAU')

In [ ]:
data = application.merge(bureau.merge(bureau_balance, on='SK_ID_BUREAU', how='inner'), on='SK_ID_CURR', how='inner')

In [ ]:
pd.merge(application,bureau, on='SK_ID_CURR', how='cross').shape[0]<=application.shape[0]

In [ ]:
data = pd.merge(application,bureau,on='SK_ID_CURR', how='left')
# data = pd.merge(pd.merge(application,bureau,on='SK_ID_CURR'),bureau_balance,on='SK_ID_BUREAU')
data

In [ ]:
application.shape

In [ ]:
len(bureau['SK_ID_CURR'].unique())

In [ ]:
bureau.columns

In [ ]:
col_to_delet=application.corrwith(application.TARGET).abs().sort_values(ascending=False)[69:].index

In [ ]:
application = application.drop(col_to_delet, axis=1)

In [ ]:
fig, ax = plt.subplots(figsize=(25,25))  
sns.heatmap(data.corr())

In [ ]:
for i in data.columns:
    print(data[i].isna().sum())