In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
# from sklearn.model_selection import train_test_split
# import tensorflow as tfry sin
# from tensorflow import keras
# from tensorflow.keras import layers
# physical_devices = tf.config.list_physical_devices('GPU')
# tf.config.experimental.set_memory_growth(physical_devices[0], enable=True)

In [25]:
# application = pd.read_csv('./data/application_train.csv')
# bureau = pd.read_csv('./data/bureau.csv')
# bureau_balance =  pd.read_csv('./data/bureau_balance.csv')
# previous_application =  pd.read_csv('./data/previous_application.csv')b

POS_CASH_balance =  pd.read_csv('./data/POS_CASH_balance.csv')
installments_payments =  pd.read_csv('./data/installments_payments.csv')

In [24]:
installments_payments['MONTHS_INSTALMENT']=installments_payments['DAYS_INSTALMENT']/30
installments_payments['MONTHS_INSTALMENT'] = installments_payments['MONTHS_INSTALMENT'].round(0).astype(int)
installments_payments=installments_payments.sort_values(['SK_ID_PREV','MONTHS_INSTALMENT'])
installments_payments

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_INSTALMENT
512588,1000001,158271,1.0,1,-268.0,-294.0,6404.310,6404.310,-9
2159480,1000001,158271,2.0,2,-238.0,-244.0,62039.115,62039.115,-8
1214732,1000002,101962,1.0,1,-1600.0,-1611.0,6264.000,6264.000,-53
1631862,1000002,101962,1.0,2,-1570.0,-1575.0,6264.000,6264.000,-52
3411021,1000002,101962,1.0,3,-1540.0,-1559.0,6264.000,6264.000,-51
...,...,...,...,...,...,...,...,...,...
11071524,2843499,314148,1.0,6,-1053.0,-1074.0,16074.000,16074.000,-35
7680142,2843499,314148,1.0,7,-1023.0,-1047.0,16074.000,16074.000,-34
9440302,2843499,314148,1.0,8,-993.0,-1018.0,16074.000,16074.000,-33
9623305,2843499,314148,1.0,9,-963.0,-980.0,16074.000,16074.000,-32
8173421,2843499,314148,2.0,10,-933.0,-952.0,433416.240,433416.240,-31

In [23]:
POS_CASH_balance= POS_CASH_balance.sort_values(['SK_ID_PREV','MONTHS_BALANCE'])
POS_CASH_balance

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
6030662,1000001,158271,-10,12.0,12.0,Active,0,0
8470736,1000001,158271,-9,12.0,11.0,Active,0,0
45995,1000001,158271,-8,2.0,0.0,Completed,0,0
4467804,1000002,101962,-54,4.0,4.0,Active,0,0
3346102,1000002,101962,-53,6.0,3.0,Active,0,0
...,...,...,...,...,...,...,...,...
5675189,2843499,314148,-34,60.0,54.0,Active,0,0
1722726,2843499,314148,-33,60.0,52.0,Active,0,0
804539,2843499,314148,-32,60.0,51.0,Active,0,0
5580339,2843499,314148,-31,10.0,0.0,Active,0,0
8600392,2843499,314148,-30,10.0,0.0,Completed,0,0

In [27]:
credit_card_balance = credit_card_balance.sort_values(['SK_ID_PREV', "MONTHS_BALANCE"])
credit_card_balance

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
1375415,1000018,394447,-6,38879.145,45000,13500.0,51042.645,0.0,37542.645,0.000,...,37542.645,37542.645,3.0,15,0.0,12.0,0.0,Active,0,0
277653,1000018,394447,-5,40934.070,45000,0.0,2335.500,0.0,2335.500,2250.000,...,40934.070,40934.070,0.0,2,0.0,2.0,1.0,Active,0,0
2559582,1000018,394447,-4,44360.505,45000,0.0,2032.560,0.0,2032.560,2250.000,...,44360.505,44360.505,0.0,2,0.0,2.0,2.0,Active,0,0
2192275,1000018,394447,-3,113862.285,135000,13500.0,69156.945,0.0,55656.945,2263.770,...,109150.785,109150.785,3.0,14,0.0,11.0,3.0,Active,0,0
2159094,1000018,394447,-2,136695.420,135000,0.0,22827.330,0.0,22827.330,6206.670,...,136024.920,136024.920,0.0,11,0.0,11.0,4.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527952,2843496,425374,-5,0.000,630000,0.0,1215.000,0.0,1215.000,1143.675,...,0.000,0.000,0.0,1,0.0,1.0,9.0,Active,0,0
3281294,2843496,425374,-4,0.000,630000,0.0,0.000,0.0,0.000,1016.460,...,0.000,0.000,0.0,0,0.0,0.0,10.0,Active,0,0
1707520,2843496,425374,-3,0.000,630000,0.0,659.250,0.0,659.250,0.000,...,0.000,0.000,0.0,1,0.0,1.0,10.0,Active,0,0
287677,2843496,425374,-2,0.000,630000,0.0,0.000,0.0,0.000,328.230,...,0.000,0.000,0.0,0,0.0,0.0,11.0,Active,0,0
1726835,2843496,425374,-1,0.000,630000,0.0,0.000,0.0,0.000,0.000,...,0.000,0.000,0.0,0,0.0,0.0,11.0,Active,0,0

In [22]:
# isna_on_insta=
len(installments_payments[installments_payments.DAYS_ENTRY_PAYMENT.isna()]['SK_ID_PREV'].unique())

1344

In [11]:
installments_payments[installments_payments.SK_ID_PREV==1003474]

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_INSTALMENT
10992293,1003474,310842,0.0,1,-247.0,-247.0,112.500,112.500,-8
9168317,1003474,310842,0.0,3,-210.0,-210.0,96.030,96.030,-7
11277494,1003474,310842,0.0,2,-218.0,-210.0,2153.970,2153.970,-7
9888056,1003474,310842,0.0,4,-188.0,-207.0,198.945,96.030,-6
11368286,1003474,310842,0.0,4,-188.0,-150.0,198.945,102.915,-6
8321188,1003474,310842,0.0,6,-150.0,-150.0,42156.585,42156.585,-5
8662653,1003474,310842,0.0,5,-157.0,-150.0,130.500,130.500,-5
8978806,1003474,310842,0.0,8,-145.0,-145.0,42026.085,42026.085,-5
8263418,1003474,310842,0.0,7,-126.0,-145.0,130.500,130.500,-4
11489408,1003474,310842,0.0,9,-96.0,NaN,130.500,NaN,-3

In [17]:
len(isna_on_insta)

2905

In [19]:
len(POS_CASH_balance[POS_CASH_balance.SK_ID_PREV.isin(isna_on_insta)]['SK_ID_PREV'].unique())

595

In [5]:
POS_CASH_balance= POS_CASH_balance.sort_values(['SK_ID_PREV','MONTHS_BALANCE'])
POS_CASH_balance

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
6030662,1000001,158271,-10,12.0,12.0,Active,0,0
8470736,1000001,158271,-9,12.0,11.0,Active,0,0
45995,1000001,158271,-8,2.0,0.0,Completed,0,0
4467804,1000002,101962,-54,4.0,4.0,Active,0,0
3346102,1000002,101962,-53,6.0,3.0,Active,0,0
...,...,...,...,...,...,...,...,...
5675189,2843499,314148,-34,60.0,54.0,Active,0,0
1722726,2843499,314148,-33,60.0,52.0,Active,0,0
804539,2843499,314148,-32,60.0,51.0,Active,0,0
5580339,2843499,314148,-31,10.0,0.0,Active,0,0
8600392,2843499,314148,-30,10.0,0.0,Completed,0,0

In [6]:
installments_payments['aux1']=installments_payments['SK_ID_PREV'].astype(str)+installments_payments['MONTHS_INSTALMENT'].astype(str)
POS_CASH_balance['aux1']=POS_CASH_balance['SK_ID_PREV'].astype(str)+POS_CASH_balance['MONTHS_BALANCE'].astype(str)

In [7]:
installments_payments

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_INSTALMENT,aux1
512588,1000001,158271,1.0,1,-268.0,-294.0,6404.310,6404.310,-9,1000001-9
2159480,1000001,158271,2.0,2,-238.0,-244.0,62039.115,62039.115,-8,1000001-8
1214732,1000002,101962,1.0,1,-1600.0,-1611.0,6264.000,6264.000,-53,1000002-53
1631862,1000002,101962,1.0,2,-1570.0,-1575.0,6264.000,6264.000,-52,1000002-52
3411021,1000002,101962,1.0,3,-1540.0,-1559.0,6264.000,6264.000,-51,1000002-51
...,...,...,...,...,...,...,...,...,...,...
11071524,2843499,314148,1.0,6,-1053.0,-1074.0,16074.000,16074.000,-35,2843499-35
7680142,2843499,314148,1.0,7,-1023.0,-1047.0,16074.000,16074.000,-34,2843499-34
9440302,2843499,314148,1.0,8,-993.0,-1018.0,16074.000,16074.000,-33,2843499-33
9623305,2843499,314148,1.0,9,-963.0,-980.0,16074.000,16074.000,-32,2843499-32
8173421,2843499,314148,2.0,10,-933.0,-952.0,433416.240,433416.240,-31,2843499-31

In [9]:
POS_CASH_balance

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,aux1
6030662,1000001,158271,-10,12.0,12.0,Active,0,0,1000001-10
8470736,1000001,158271,-9,12.0,11.0,Active,0,0,1000001-9
45995,1000001,158271,-8,2.0,0.0,Completed,0,0,1000001-8
4467804,1000002,101962,-54,4.0,4.0,Active,0,0,1000002-54
3346102,1000002,101962,-53,6.0,3.0,Active,0,0,1000002-53
...,...,...,...,...,...,...,...,...,...
5675189,2843499,314148,-34,60.0,54.0,Active,0,0,2843499-34
1722726,2843499,314148,-33,60.0,52.0,Active,0,0,2843499-33
804539,2843499,314148,-32,60.0,51.0,Active,0,0,2843499-32
5580339,2843499,314148,-31,10.0,0.0,Active,0,0,2843499-31
8600392,2843499,314148,-30,10.0,0.0,Completed,0,0,2843499-30

In [13]:
POS_CASH_balance[~POS_CASH_balance['aux1'].isin(installments_payments['aux1'].tolist())]

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,aux1
6030662,1000001,158271,-10,12.0,12.0,Active,0,0,1000001-10
4467804,1000002,101962,-54,4.0,4.0,Active,0,0,1000002-54
6584537,1000003,252457,-4,12.0,12.0,Active,0,0,1000003-4
4078063,1000004,260094,-22,7.0,0.0,Completed,0,0,1000004-22
7852623,1000005,176456,-46,10.0,0.0,Completed,0,0,1000005-46
...,...,...,...,...,...,...,...,...,...
981864,2843494,292375,-24,2.0,0.0,Completed,0,0,2843494-24
4592807,2843495,260963,-16,60.0,60.0,Active,0,0,2843495-16
2802744,2843497,451578,-21,24.0,24.0,Active,0,0,2843497-21
2223855,2843498,393881,-42,6.0,0.0,Completed,0,0,2843498-42
8600392,2843499,314148,-30,10.0,0.0,Completed,0,0,2843499-30

In [10]:
id_not_mach=POS_CASH_balance[~POS_CASH_balance['aux1'].isin(installments_payments['aux1'].tolist())]['SK_ID_PREV'].tolist()

In [14]:
installments_payments[~installments_payments.SK_ID_PREV.isin(id_not_mach)]

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_INSTALMENT,aux1
11478850,1000010,377567,1.0,1,-558.0,-568.0,74682.00,74682.00,-19,1000010-19
9169403,1000010,377567,1.0,2,-528.0,-528.0,74682.00,74682.00,-18,1000010-18
8286404,1000010,377567,1.0,3,-498.0,-502.0,74682.00,74682.00,-17,1000010-17
8188577,1000010,377567,1.0,4,-468.0,-471.0,74682.00,74682.00,-16,1000010-16
11235312,1000010,377567,1.0,5,-438.0,-457.0,74682.00,74682.00,-15,1000010-15
...,...,...,...,...,...,...,...,...,...,...
11750706,2843496,425374,0.0,28,-86.0,-92.0,328.23,328.23,-3,2843496-3
12927628,2843496,425374,0.0,29,-92.0,-92.0,121.77,121.77,-3,2843496-3
13217253,2843496,425374,0.0,30,-77.0,-77.0,121.77,121.77,-3,2843496-3
11626597,2843496,425374,0.0,31,-46.0,-46.0,121.77,121.77,-2,2843496-2
12958814,2843496,425374,0.0,32,-16.0,-16.0,121.77,121.77,-1,2843496-1

In [12]:
pritn(oi)

NameError: name 'pritn' is not defined

In [ ]:
POS_CASH_balance.NAME_CONTRACT_STATUS.unique()

In [ ]:
POS_CASH_balance[POS_CASH_balance.NAME_CONTRACT_STATUS.isin(['Active'])]

In [ ]:
oi = POS_CASH_balance[POS_CASH_balance.NAME_CONTRACT_STATUS.isin(['Active'])]['SK_ID_PREV'].to_list()

In [ ]:
tchau = installments_payments[installments_payments.SK_ID_PREV.isin(oi)]['SK_ID_PREV'].tolist()

In [ ]:
POS_CASH_balance[POS_CASH_balance.SK_ID_PREV.isin(tchau)]

In [ ]:
x=credit_card_balance['MONTHS_BALANCE'].astype('str')+credit_card_balance['SK_ID_CURR'].astype('str')
y=POS_CASH_balance['MONTHS_BALANCE'].astype('str')+POS_CASH_balance['SK_ID_CURR'].astype('str')

In [ ]:
print('unique',len(list(set(x) & set(y))))
print('lenx',len(set(x)))
print('leny',len(set(y)))

In [ ]:
print(application.columns & previous_application.columns)
print(previous_application.columns)

In [ ]:
data = pd.merge(application, previous_application, how='left')

In [ ]:
data = pd.merge(data, POS_CASH_balance, how='left')

In [ ]:
data = pd.merge(data, credit_card_balance, how='left')

In [ ]:
data.to_excel('allmerger.xlsx')

In [ ]:
data['MONTHS_BALANCE'].isna().sum()/(len(data['MONTHS_BALANCE']))

In [ ]:
print(len(set(credit_card_balance['SK_ID_PREV'].astype('str'))))
print(len(set(POS_CASH_balance['SK_ID_PREV'].astype('str'))))

In [ ]:
data=pd.merge(credit_card_balance, POS_CASH_balance, how='outer', left_on=['SK_ID_PREV','SK_ID_CURR','MONTHS_BALANCE'], right_on=['SK_ID_PREV','SK_ID_CURR','MONTHS_BALANCE'])

In [ ]:
data.isna()

In [ ]:
data[data['SK_ID_CURR_x']==378907]

In [ ]:
data

In [ ]:
POS_CASH_balance.sort_values(by=['SK_ID_CURR','SK_ID_PREV','MONTHS_BALANCE'])

In [ ]:
pd.isna(POS_CASH_balance['SK_ID_CURR']).sum()

In [ ]:
POS_CASH_balance['SK_ID_PREV'] = POS_CASH_balance['SK_ID_PREV'].astype('str')
POS_CASH_balance['SK_ID_CURR'] = POS_CASH_balance['SK_ID_CURR'].astype('str')
POS_CASH_balance['MONTHS_BALANCE'] = POS_CASH_balance['MONTHS_BALANCE'].astype('str')
credit_card_balance['SK_ID_PREV'] = credit_card_balance['SK_ID_PREV'].astype('str')
credit_card_balance['SK_ID_CURR'] = credit_card_balance['SK_ID_CURR'].astype('str')
credit_card_balance['MONTHS_BALANCE'] = credit_card_balance['MONTHS_BALANCE'].astype('str')

In [ ]:
credit_card_balance.dtypes

In [ ]:
print(previous_application.shape)
print(credit_card_balance.shape)
print(POS_CASH_balance.shape)
print(installments_payments.shape)

In [ ]:
print(oi)

In [ ]:
credit_card_balance.shape

In [ ]:
POS_CASH_balance.groupby(['SK_ID_CURR','SK_ID_PREV','MONTHS_BALANCE']).agg({'CNT_INSTALMENT':'mean'})

In [ ]:
x=credit_card_balance['MONTHS_BALANCE'].astype('str')+credit_card_balance['SK_ID_CURR'].astype('str')+credit_card_balance['SK_ID_PREV'].astype('str')
print(len(x))
print(len(x.unique()))

In [ ]:
x=POS_CASH_balance['MONTHS_BALANCE'].astype('str')+POS_CASH_balance['SK_ID_CURR'].astype('str')+POS_CASH_balance['SK_ID_PREV'].astype('str')
print(len(x))
print(len(x.unique()))

In [ ]:
print(credit_card_balance.columns)
print(POS_CASH_balance.columns)

In [ ]:
data = POS_CASH_balance.merge(credit_card_balance, on=['SK_ID_PREV'] , how='inner')

In [ ]:
data

In [ ]:
x=POS_CASH_balance['SK_ID_PREV'].astype('str')+data['SK_ID_CURR'].astype('str')+data['MONTHS_BALANCE'].astype('str')

In [ ]:
len(x)

In [ ]:
len(x.unique())

In [ ]:
print(oi)

In [ ]:
x[:10]

# estou tentado juntar credit_card_balance e POS_CASh em id current e mes. para ver se estava funcionando criei x, juncao de mes e id. se estivesse certo cada x[i] seria unico. esta errado, len de x diverente de len de x unique

In [ ]:
data = bureau[['SK_ID_CURR','SK_ID_BUREAU']].merge(bureau_balance, on='SK_ID_BUREAU', how='inner')

In [ ]:
data = data.replace(['C','X'],0)
data['STATUS'] = data['STATUS'].astype(int)

In [ ]:
data = data.groupby(['SK_ID_CURR','MONTHS_BALANCE']).agg({'STATUS':'mean'}).unstack().fillna(0)

In [ ]:
POS_CASH_balance.groupby(['SK_ID_CURR','MONTHS_BALANCE']).agg({'CNT_INSTALMENT':'mean', 'CNT_INSTALMENT_FUTURE':'mean'}).unstack().fillna(0)

In [ ]:
data

In [ ]:
data = data.merge(application[['SK_ID_CURR','TARGET']], on= 'SK_ID_CURR')

In [ ]:
data[data.columns[1:-1]]

In [ ]:
npdata=data[data.columns[1:-1]].to_numpy().reshape((92231,97,1))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(npdata, data['TARGET'], test_size=0.33, random_state=42)

In [ ]:
npdata.train_test

In [ ]:
npdata.shape

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.LSTM(30, return_sequences = True),
    tf.keras.layers.LSTM(2, return_sequences = False)
])

In [ ]:
model.compile(optimizer='adam', 
              loss='mean_squared_error', 
              metrics='accuracy')

In [ ]:
history = model.fit(x=X_train, y=y_train, epochs= 20, batch_size=300, validation_data=(X_test,y_test) )

In [ ]:
history.history.keys()

In [ ]:
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'val'], loc='upper left')
plt.show()

In [ ]:
# data[data.columns[1:-1]].reshape(92231, 97,1)
np.reshape(data, data.shape + (1,))

In [ ]:
np.reshape(data[data.columns[1:-1]], ( 97,1))

In [ ]:
print(data[data.columns[1:-1]].shape, data['TARGET'].shape)

In [ ]:
model.fit(x=data[data.columns[1:-1]], y=data['TARGET'], epochs= 10)

In [ ]:
bureau_balance[bureau_balance['STATUS'].isna()==True]

In [ ]:
bureau_balance.groupby(['SK_ID_CURR','MONTHS_BALANCE']).agg({'STATUS':'first'}).unstack()

In [ ]:
months=bureau_balance['MONTHS_BALANCE'].unique()
id_b= bureau_balance['SK_ID_BUREAU'].unique()

In [ ]:
pivoted_bureau_balance = pd.DataFrame(index=id_b, columns=months)

In [ ]:
for i, column in bureau_balance:
    print(i)

In [ ]:
pd.pivot_table(bureau_balance, values='STATUS', index='SK_ID_BUREAU')

In [ ]:
data = application.merge(bureau.merge(bureau_balance, on='SK_ID_BUREAU', how='inner'), on='SK_ID_CURR', how='inner')

In [ ]:
pd.merge(application,bureau, on='SK_ID_CURR', how='cross').shape[0]<=application.shape[0]

In [ ]:
data = pd.merge(application,bureau,on='SK_ID_CURR', how='left')
# data = pd.merge(pd.merge(application,bureau,on='SK_ID_CURR'),bureau_balance,on='SK_ID_BUREAU')
data

In [ ]:
application.shape

In [ ]:
len(bureau['SK_ID_CURR'].unique())

In [ ]:
bureau.columns

In [ ]:
col_to_delet=application.corrwith(application.TARGET).abs().sort_values(ascending=False)[69:].index

In [ ]:
application = application.drop(col_to_delet, axis=1)

In [ ]:
fig, ax = plt.subplots(figsize=(25,25))  
sns.heatmap(data.corr())

In [ ]:
for i in data.columns:
    print(data[i].isna().sum())