In [1]:
import pandas as pd
import numpy as np

In [2]:
df =  pd.read_csv('./data/credit_card_balance.csv')
df = df.sort_values(['SK_ID_CURR','SK_ID_PREV','MONTHS_BALANCE'])
df.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [4]:
colfordummies = df.select_dtypes(include='object').columns

In [5]:
df = pd.get_dummies(df, prefix=colfordummies)

In [3]:
df=df[['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL','AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'SK_DPD']]
df

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,SK_DPD
1636141,1489396,100006,-6,0.000,270000,NaN,0.000,NaN,0
655566,1489396,100006,-5,0.000,270000,NaN,0.000,NaN,0
1399895,1489396,100006,-4,0.000,270000,NaN,0.000,NaN,0
1347528,1489396,100006,-3,0.000,270000,NaN,0.000,NaN,0
520387,1489396,100006,-2,0.000,270000,NaN,0.000,NaN,0
...,...,...,...,...,...,...,...,...,...
1437743,1794451,456250,-5,169443.855,180000,0.0,8931.420,9000.0,0
310299,1794451,456250,-4,166188.150,180000,0.0,8804.565,9000.0,0
1154348,1794451,456250,-3,162425.565,175500,0.0,8643.600,9000.0,0
1049726,1794451,456250,-2,158266.935,175500,0.0,8477.730,9675.0,0
140639,1794451,456250,-1,153832.725,175500,0.0,8286.390,9675.0,0

In [4]:
df['MONTHS_BALANCE'].unique()

array([ -6,  -5,  -4,  -3,  -2,  -1, -75, -74, -73, -72, -71, -70, -69,
       -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56,
       -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43,
       -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30,
       -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17,
       -16, -15, -14, -13, -12, -11, -10,  -9,  -8,  -7, -96, -95, -94,
       -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81,
       -80, -79, -78, -77, -76])

In [5]:
df['AMT_DRAWINGS_POS_CURRENT'] = np.where((df['AMT_DRAWINGS_POS_CURRENT'].isna()) & (df['AMT_BALANCE']==0), 0, df['AMT_DRAWINGS_POS_CURRENT'] )
df['AMT_PAYMENT_CURRENT'] = np.where((df['AMT_PAYMENT_CURRENT'].isna()) & (df['AMT_BALANCE']==0), 0, df['AMT_PAYMENT_CURRENT'] )

In [16]:
df = df[df['AMT_CREDIT_LIMIT_ACTUAL']>0]

In [17]:
df['SK_DPD_FARED_OF'] = df['SK_DPD']/-df['MONTHS_BALANCE']
df['PROPORTION_CREDIT_OVER_LIMIT_FARED_OF'] = df['AMT_DRAWINGS_POS_CURRENT']/df['AMT_CREDIT_LIMIT_ACTUAL']/-df['MONTHS_BALANCE']

<ipython-input-17-4a139d749efe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SK_DPD_FARED_OF'] = df['SK_DPD']/-df['MONTHS_BALANCE']
<ipython-input-17-4a139d749efe>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PROPORTION_CREDIT_OVER_LIMIT_FARED_OF'] = df['AMT_DRAWINGS_POS_CURRENT']/df['AMT_CREDIT_LIMIT_ACTUAL']/-df['MONTHS_BALANCE']

In [18]:
df_summarized=df[['SK_ID_CURR','SK_DPD_FARED_OF','PROPORTION_CREDIT_OVER_LIMIT_FARED_OF']]

In [19]:
df_summarized=df_summarized.groupby(['SK_ID_CURR']).agg({'SK_DPD_FARED_OF':'sum', 'PROPORTION_CREDIT_OVER_LIMIT_FARED_OF':'sum'})

In [20]:
df.max()

SK_ID_PREV                               2.843496e+06
SK_ID_CURR                               4.562500e+05
MONTHS_BALANCE                          -1.000000e+00
AMT_BALANCE                              1.505902e+06
AMT_CREDIT_LIMIT_ACTUAL                  1.350000e+06
AMT_DRAWINGS_POS_CURRENT                 2.239274e+06
AMT_INST_MIN_REGULARITY                  2.028820e+05
AMT_PAYMENT_CURRENT                      4.289207e+06
SK_DPD                                   3.260000e+03
SK_DPD_FARED_OF                          2.650000e+03
PROPORTION_CREDIT_OVER_LIMIT_FARED_OF    4.405517e+00
dtype: float64

In [21]:
df_summarized.to_csv('./treated_data/credit_card_balance.csv')