In [22]:
import numpy as np
import matplotlib.pyplot as plt  
import pandas as pd  
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
from sklearn import metrics
df = pd.read_csv('./data/application_train.csv')[['SK_ID_CURR','TARGET']].merge(pd.read_csv('./treated_data/installments_payments.csv').merge(pd.read_csv('./treated_data/credit_card_balance.csv')), how='left')

In [2]:
# application = pd.read_csv('./data/application_train.csv')
# install = pd.read_csv('./treated_data/installments_payments.csv')
# credit = pd.read_csv('./treated_data/credit_card_balance.csv')

In [23]:
df = df.dropna()
df = df.reset_index()

In [24]:
df

,index,SK_ID_CURR,TARGET,DAYS_DELAYED_FARED_OF,DEFAULT_FARED_OF,SK_DPD_FARED_OF,PROPORTION_CREDIT_OVER_LIMIT_FARED_OF
0,3,100006,0,387.0,0.000,0.000000,0.000000
1,8,100011,0,-3138.0,-646757.775,0.000000,0.000000
2,17,100021,0,321.0,0.000,0.000000,0.000000
3,19,100023,0,1502.0,0.000,0.000000,0.000000
4,31,100036,0,222.0,0.000,0.000000,0.000000
...,...,...,...,...,...,...,...
85805,307498,456242,0,736.0,0.000,0.000000,0.154627
85806,307500,456244,0,2203.0,-871732.710,0.000000,0.005875
85807,307502,456246,0,380.0,0.000,0.000000,0.133343
85808,307503,456247,0,2301.0,0.000,0.035032,0.000098
85809,307504,456248,0,146.0,-202016.160,0.000000,0.000000

In [50]:
df.iloc[:,3]

0         387.0
1       -3138.0
2         321.0
3        1502.0
4         222.0
          ...
85805     736.0
85806    2203.0
85807     380.0
85808    2301.0
85809     146.0
Name: DAYS_DELAYED_FARED_OF, Length: 85810, dtype: float64

In [51]:
x = df.iloc[:,3:].values
y = df.iloc[:,2]

In [33]:
df.max()

index                                    3.075040e+05
SK_ID_CURR                               4.562480e+05
TARGET                                   1.000000e+00
DAYS_DELAYED_FARED_OF                    3.237300e+04
DEFAULT_FARED_OF                         7.754768e+06
SK_DPD_FARED_OF                          1.087712e+04
PROPORTION_CREDIT_OVER_LIMIT_FARED_OF    7.726346e+00
dtype: float64

In [52]:
min_max_scaler = preprocessing.MinMaxScaler()
x = min_max_scaler.fit_transform(x)
# df = pd.DataFrame(x_scaled)

In [53]:
linear_regressor = LinearRegression()  # create object for the class
linear_regressor.fit(x, y)  # perform linear regression
y_pred = linear_regressor.predict(x)

In [57]:
metrics.mean_squared_error(y, y_pred)

0.07890569054866463

In [61]:
result = pd.DataFrame({'y':y, 'y_pred':y_pred})

In [64]:
np.where(result['y_pred']>0.5,1,0).sum()

3

In [71]:
y_pred[y_pred>0.5]

array([1.21767356, 0.54654066, 0.61186703])

In [54]:
linear_regressor.coef_

array([-1.24872638, -0.24455762, -0.05540608,  0.20272009])

In [46]:
y

0        100006
1        100011
2        100021
3        100023
4        100036
          ...
85805    456242
85806    456244
85807    456246
85808    456247
85809    456248
Name: SK_ID_CURR, Length: 85810, dtype: int64