In [1]:
import pandas as pd
import numpy as np
# import gc

In [2]:
app =  pd.read_csv('../data/application_train.csv')
credit_card_balance =  pd.read_csv('../data/credit_card_balance.csv')
POS_CASH_balance =  pd.read_csv('../data/POS_CASH_balance.csv')
installments_payments =  pd.read_csv('../data/installments_payments.csv')

installments_payments['MONTHS_BALANCE'] = (installments_payments['DAYS_INSTALMENT']/30).round().astype(int)

In [3]:
credit_card_balance.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [28]:
credit_card_balance = credit_card_balance[credit_card_balance['SK_ID_CURR'].isin(app["SK_ID_CURR"])]
POS_CASH_balance = POS_CASH_balance[POS_CASH_balance['SK_ID_CURR'].isin(app["SK_ID_CURR"])]
installments_payments = installments_payments[installments_payments['SK_ID_CURR'].isin(app["SK_ID_CURR"])]

In [ ]:
cre_fill = credit_card_balance.fillna('mean')

In [ ]:
cre_fill.astype(int)

In [5]:
credit_card_balance = credit_card_balance[credit_card_balance['MONTHS_BALANCE']>=-80]
POS_CASH_balance = POS_CASH_balance[POS_CASH_balance['MONTHS_BALANCE']>=-80]
installments_payments = installments_payments[installments_payments['MONTHS_BALANCE']>=-80]

In [6]:

print(len(set(app['SK_ID_CURR'])))
print(len(set(credit_card_balance['SK_ID_CURR'])))
print(len(set(POS_CASH_balance['SK_ID_CURR'])))
print(len(set(installments_payments['SK_ID_CURR'])))

307511
86905
285213
288410

In [6]:
# values =list(set(installments_payments.columns) - set(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE']))

In [7]:
POS_CASH_balance.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'CNT_INSTALMENT',
       'CNT_INSTALMENT_FUTURE', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [9]:
credit_card_balance = credit_card_balance.pivot_table(values=list(set(credit_card_balance.columns) - set(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE'])), index='SK_ID_CURR', columns='MONTHS_BALANCE')

POS_CASH_balance = POS_CASH_balance.pivot_table(values=list(set(POS_CASH_balance.columns) - set(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE'])), index='SK_ID_CURR', columns='MONTHS_BALANCE')

installments_payments = installments_payments.pivot_table(values=list(set(installments_payments.columns) - set(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE'])), index='SK_ID_CURR', columns='MONTHS_BALANCE')

In [24]:
POS_CASH_balance

               CNT_INSTALMENT                                                \
MONTHS_BALANCE            -80  -79  -78   -77   -76   -75   -74   -73   -72
SK_ID_CURR
100002                    NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
100003                    NaN  NaN  NaN  12.0  12.0  12.0  12.0  12.0  12.0
100004                    NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
100006                    NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
100007                    NaN  NaN  NaN  10.0  10.0  10.0  10.0  10.0  10.0
...                       ...  ...  ...   ...   ...   ...   ...   ...   ...
456251                    NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
456252                    6.0  6.0  6.0   6.0   6.0   NaN   NaN   NaN   NaN
456253                    NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
456254                    NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
456255                    NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN

                      ... SK_DPD_DEF                                          \
MONTHS_BALANCE   -71  ...        -10  -9   -8   -7   -6   -5   -4   -3   -2
SK_ID_CURR            ...
100002           NaN  ...        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
100003          12.0  ...        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
100004           NaN  ...        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
100006           NaN  ...        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
100007          10.0  ...        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...              ...  ...        ...  ...  ...  ...  ...  ...  ...  ...  ...
456251           NaN  ...        NaN  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
456252           NaN  ...        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
456253           NaN  ...        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
456254           NaN  ...        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
456255           NaN  ...        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0


MONTHS_BALANCE  -1
SK_ID_CURR
100002          0.0
100003          NaN
100004          NaN
100006          0.0
100007          0.0
...             ...
456251          0.0
456252          NaN
456253          NaN
456254          0.0
456255          NaN

[285213 rows x 320 columns]

In [22]:
credit_card_balance.shape

(86905, 1520)

In [25]:
POS_CASH_balance.shape

(285213, 320)

In [11]:
priit

NameError: name 'priit' is not defined

In [18]:
installments_payments.shape[1]/81

6.0

In [19]:
# credit_card_balance= credit_card_balance.values.reshape((86905,80,19))
# POS_CASH_balance= POS_CASH_balance.values.reshape((285213,80,4))
installments_payments= installments_payments.values.reshape((288410,81,6))

In [21]:
installments_payments.keys

AttributeError: 'numpy.ndarray' object has no attribute 'keys'

In [ ]:
df = installments_payments[installments_payments['SK_ID_CURR'].isin(app['SK_ID_CURR'])]

In [ ]:
df.shape

In [ ]:
df = pd.merge(df, POS_CASH_balance, how='left')
# df.head(5)

In [ ]:
df=pd.merge(df, credit_card_balance, how = 'left')
# df.head(5)

In [ ]:
df = df[df['MONTHS_BALANCE']>-80]

In [ ]:
df.shape

In [ ]:

del credit_card_balance, POS_CASH_balance ,installments_payments
gc.collect()

In [ ]:
# df = df[df['SK_ID_CURR'].isin(app['SK_ID_CURR'])]

In [ ]:
values = list(set(df.columns) - set(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE']))

In [ ]:
df_pivot = df.pivot_table(values=values, index='SK_ID_CURR', columns='MONTHS_BALANCE')

In [ ]:
# import pandas as pd
# import numpy as np
# import gc
# credit_card_balance =  pd.read_csv('../data/credit_card_balance.csv')
# POS_CASH_balance =  pd.read_csv('../data/POS_CASH_balance.csv')
# installments_payments =  pd.read_csv('../data/installments_payments.csv')
# installments_payments['MONTHS_BALANCE'] = (installments_payments['DAYS_INSTALMENT']/30).round().astype(int)
# df = pd.merge(POS_CASH_balance, installments_payments,  left_on=(['SK_ID_PREV','SK_ID_CURR','MONTHS_BALANCE']), right_on=(['SK_ID_PREV','SK_ID_CURR','MONTHS_BALANCE']), how='outer')
# df=pd.merge(df, credit_card_balance, how = 'outer')
# del credit_card_balance, POS_CASH_balance ,installments_payments
# gc.collect()
# values = list(set(df.columns) - set(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE']))
# df_pivot = df.pivot_table(values=values, index='SK_ID_CURR', columns='MONTHS_BALANCE').to_json('../treated_data/timeseries.json')