In [2]:
import pandas as pd
import numpy as np
import gc

In [3]:
app =  pd.read_csv('../data/application_train.csv')
credit_card_balance =  pd.read_csv('../data/credit_card_balance.csv')
POS_CASH_balance =  pd.read_csv('../data/POS_CASH_balance.csv')
installments_payments =  pd.read_csv('../data/installments_payments.csv')

In [4]:
installments_payments['MONTHS_BALANCE'] = (installments_payments['DAYS_INSTALMENT']/30).round().astype(int)

In [5]:
df = pd.merge(POS_CASH_balance, installments_payments,  left_on=(['SK_ID_PREV','SK_ID_CURR','MONTHS_BALANCE']), right_on=(['SK_ID_PREV','SK_ID_CURR','MONTHS_BALANCE']), how='outer')
df.head(5)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1803195,182943,-31,48.0,45.0,Active,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1715348,367990,-33,36.0,35.0,Active,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1784872,397406,-32,12.0,9.0,Active,0.0,0.0,1.0,3.0,-949.0,-951.0,14746.455,14746.455
3,1903291,269225,-35,48.0,42.0,Active,0.0,0.0,1.0,7.0,-1038.0,-1071.0,32328.000,32328.000
4,2341044,334279,-35,36.0,35.0,Active,0.0,0.0,1.0,1.0,-1062.0,-1092.0,26327.970,26327.970

In [ ]:
df=pd.merge(df, credit_card_balance, how = 'outer')
df.head(5)

In [9]:

del credit_card_balance, POS_CASH_balance ,installments_payments
gc.collect()

30

In [10]:
values = list(set(df.columns) - set(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE']))

In [ ]:
df_pivot = df.pivot_table(values=values, index='SK_ID_CURR', columns='MONTHS_BALANCE')

In [ ]:
import pandas as pd
import numpy as np
import gc
credit_card_balance =  pd.read_csv('../data/credit_card_balance.csv')
POS_CASH_balance =  pd.read_csv('../data/POS_CASH_balance.csv')
installments_payments =  pd.read_csv('../data/installments_payments.csv')
installments_payments['MONTHS_BALANCE'] = (installments_payments['DAYS_INSTALMENT']/30).round().astype(int)
df = pd.merge(POS_CASH_balance, installments_payments,  left_on=(['SK_ID_PREV','SK_ID_CURR','MONTHS_BALANCE']), right_on=(['SK_ID_PREV','SK_ID_CURR','MONTHS_BALANCE']), how='outer')
df=pd.merge(df, credit_card_balance, how = 'outer')
del credit_card_balance, POS_CASH_balance ,installments_payments
gc.collect()
values = list(set(df.columns) - set(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE']))
df_pivot = df.pivot_table(values=values, index='SK_ID_CURR', columns='MONTHS_BALANCE').to_json('../treated_data/timeseries.json')