In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
# from sklearn.model_selection import train_test_split
# import tensorflow as tfry sin
# from tensorflow import keras
# from tensorflow.keras import layers
# physical_devices = tf.config.list_physical_devices('GPU')
# tf.config.experimental.set_memory_growth(physical_devices[0], enable=True)

In [2]:
# application = pd.read_csv('./data/application_train.csv')
# bureau = pd.read_csv('./data/bureau.csv')
# bureau_balance =  pd.read_csv('./data/bureau_balance.csv')
# previous_application =  pd.read_csv('./data/previous_application.csv')
# credit_card_balance =  pd.read_csv('./data/credit_card_balance.csv')
POS_CASH_balance =  pd.read_csv('./data/POS_CASH_balance.csv')
installments_payments =  pd.read_csv('./data/installments_payments.csv')

In [3]:
installments_payments['MONTHS_INSTALMENT']=installments_payments['DAYS_INSTALMENT']/30
installments_payments['MONTHS_INSTALMENT'] = installments_payments['MONTHS_INSTALMENT'].round(0).astype(int)
installments_payments=installments_payments.sort_values(['SK_ID_PREV','MONTHS_INSTALMENT'])

In [4]:
installments_payments

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_INSTALMENT
512588,1000001,158271,1.0,1,-268.0,-294.0,6404.310,6404.310,-9
2159480,1000001,158271,2.0,2,-238.0,-244.0,62039.115,62039.115,-8
1214732,1000002,101962,1.0,1,-1600.0,-1611.0,6264.000,6264.000,-53
1631862,1000002,101962,1.0,2,-1570.0,-1575.0,6264.000,6264.000,-52
3411021,1000002,101962,1.0,3,-1540.0,-1559.0,6264.000,6264.000,-51
...,...,...,...,...,...,...,...,...,...
11071524,2843499,314148,1.0,6,-1053.0,-1074.0,16074.000,16074.000,-35
7680142,2843499,314148,1.0,7,-1023.0,-1047.0,16074.000,16074.000,-34
9440302,2843499,314148,1.0,8,-993.0,-1018.0,16074.000,16074.000,-33
9623305,2843499,314148,1.0,9,-963.0,-980.0,16074.000,16074.000,-32
8173421,2843499,314148,2.0,10,-933.0,-952.0,433416.240,433416.240,-31

In [5]:
POS_CASH_balance= POS_CASH_balance.sort_values(['SK_ID_PREV','MONTHS_BALANCE'])
POS_CASH_balance

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
6030662,1000001,158271,-10,12.0,12.0,Active,0,0
8470736,1000001,158271,-9,12.0,11.0,Active,0,0
45995,1000001,158271,-8,2.0,0.0,Completed,0,0
4467804,1000002,101962,-54,4.0,4.0,Active,0,0
3346102,1000002,101962,-53,6.0,3.0,Active,0,0
...,...,...,...,...,...,...,...,...
5675189,2843499,314148,-34,60.0,54.0,Active,0,0
1722726,2843499,314148,-33,60.0,52.0,Active,0,0
804539,2843499,314148,-32,60.0,51.0,Active,0,0
5580339,2843499,314148,-31,10.0,0.0,Active,0,0
8600392,2843499,314148,-30,10.0,0.0,Completed,0,0

In [6]:
installments_payments['aux1']=installments_payments['SK_ID_PREV'].astype(str)+installments_payments['MONTHS_INSTALMENT'].astype(str)
POS_CASH_balance['aux1']=POS_CASH_balance['SK_ID_PREV'].astype(str)+POS_CASH_balance['MONTHS_BALANCE'].astype(str)

In [7]:
installments_payments

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_INSTALMENT,aux1
512588,1000001,158271,1.0,1,-268.0,-294.0,6404.310,6404.310,-9,1000001-9
2159480,1000001,158271,2.0,2,-238.0,-244.0,62039.115,62039.115,-8,1000001-8
1214732,1000002,101962,1.0,1,-1600.0,-1611.0,6264.000,6264.000,-53,1000002-53
1631862,1000002,101962,1.0,2,-1570.0,-1575.0,6264.000,6264.000,-52,1000002-52
3411021,1000002,101962,1.0,3,-1540.0,-1559.0,6264.000,6264.000,-51,1000002-51
...,...,...,...,...,...,...,...,...,...,...
11071524,2843499,314148,1.0,6,-1053.0,-1074.0,16074.000,16074.000,-35,2843499-35
7680142,2843499,314148,1.0,7,-1023.0,-1047.0,16074.000,16074.000,-34,2843499-34
9440302,2843499,314148,1.0,8,-993.0,-1018.0,16074.000,16074.000,-33,2843499-33
9623305,2843499,314148,1.0,9,-963.0,-980.0,16074.000,16074.000,-32,2843499-32
8173421,2843499,314148,2.0,10,-933.0,-952.0,433416.240,433416.240,-31,2843499-31

In [8]:
installments_payments['aux1'].tolist()

['1000001-9',
 '1000001-8',
 '1000002-53',
 '1000002-52',
 '1000002-51',
 '1000002-50',
 '1000003-3',
 '1000003-2',
 '1000003-1',
 '1000004-29',
 '1000004-28',
 '1000004-27',
 '1000004-26',
 '1000004-25',
 '1000004-24',
 '1000004-23',
 '1000005-56',
 '1000005-55',
 '1000005-54',
 '1000005-53',
 '1000005-52',
 '1000005-51',
 '1000005-50',
 '1000005-49',
 '1000005-48',
 '1000005-48',
 '1000005-47',
 '1000007-4',
 '1000007-3',
 '1000007-2',
 '1000007-1',
 '10000070',
 '1000008-43',
 '1000008-42',
 '1000008-41',
 '1000008-40',
 '1000008-39',
 '1000008-38',
 '1000008-37',
 '1000008-36',
 '1000008-35',
 '1000009-15',
 '1000009-14',
 '1000009-13',
 '1000009-12',
 '1000009-11',
 '1000009-10',
 '1000010-19',
 '1000010-18',
 '1000010-17',
 '1000010-16',
 '1000010-15',
 '1000010-14',
 '1000010-13',
 '1000010-12',
 '1000010-11',
 '1000010-10',
 '1000010-9',
 '1000011-14',
 '1000011-14',
 '1000011-12',
 '1000011-12',
 '1000011-10',
 '1000011-10',
 '1000011-8',
 '1000011-8',
 '1000011-6',
 '1000011-6',
 '1000011-4',
 '1000011-4',
 '1000012-29',
 '1000012-28',
 '1000012-27',
 '1000012-26',
 '1000012-25',
 '1000012-24',
 '1000012-23',
 '1000012-22',
 '1000012-21',
 '1000012-20',
 '1000012-19',
 '1000012-18',
 '1000013-46',
 '1000013-45',
 '1000013-44',
 '1000013-43',
 '1000013-42',
 '1000013-41',
 '1000013-40',
 '1000013-39',
 '1000013-38',
 '1000013-37',
 '1000013-36',
 '1000013-35',
 '1000014-45',
 '1000014-44',
 '1000014-43',
 '1000014-42',
 '1000014-41',
 '1000014-40',
 '1000014-39',
 '1000014-38',
 '1000015-45',
 '1000015-44',
 '1000015-43',
 '1000015-42',
 '1000015-41',
 '1000015-41',
 '1000015-40',
 '1000015-39',
 '1000015-38',
 '1000016-23',
 '1000016-22',
 '1000016-21',
 '1000016-20',
 '1000016-19',
 '1000016-18',
 '1000017-16',
 '1000017-15',
 '1000017-14',
 '1000017-13',
 '1000017-12',
 '1000017-11',
 '1000017-10',
 '1000017-9',
 '1000017-8',
 '1000017-7',
 '1000017-6',
 '1000017-5',
 '1000018-5',
 '1000018-5',
 '1000018-4',
 '1000018-4',
 '1000018-4',
 '1000018-3',
 '1000018-3',
 '1000018-3',
 '1000018-2',
 '1000018-2',
 '1000018-2',
 '1000018-1',
 '1000018-1',
 '1000018-1',
 '10000180',
 '10000180',
 '10000180',
 '1000019-77',
 '1000019-76',
 '1000019-75',
 '1000019-74',
 '1000019-73',
 '1000019-72',
 '1000019-71',
 '1000019-71',
 '1000019-70',
 '1000019-69',
 '1000019-68',
 '1000019-67',
 '1000019-66',
 '1000020-66',
 '1000020-65',
 '1000020-64',
 '1000020-63',
 '1000020-62',
 '1000020-61',
 '1000020-60',
 '1000020-59',
 '1000020-58',
 '1000020-57',
 '1000020-56',
 '1000020-55',
 '1000021-97',
 '1000021-96',
 '1000021-95',
 '1000022-80',
 '1000022-80',
 '1000022-78',
 '1000022-78',
 '1000022-76',
 '1000022-76',
 '1000023-10',
 '1000023-9',
 '1000023-8',
 '1000023-7',
 '1000024-70',
 '1000024-69',
 '1000024-68',
 '1000024-67',
 '1000024-66',
 '1000024-65',
 '1000024-64',
 '1000024-63',
 '1000024-62',
 '1000024-61',
 '1000024-60',
 '1000024-59',
 '1000025-15',
 '1000025-14',
 '1000025-13',
 '1000025-12',
 '1000025-11',
 '1000025-10',
 '1000025-9',
 '1000025-8',
 '1000025-7',
 '1000025-6',
 '1000025-5',
 '1000026-4',
 '1000026-3',
 '1000026-2',
 '1000026-1',
 '1000027-12',
 '1000027-12',
 '1000027-10',
 '1000027-10',
 '1000027-8',
 '1000027-8',
 '1000028-16',
 '1000028-15',
 '1000029-8',
 '1000029-7',
 '1000029-6',
 '1000029-5',
 '1000029-4',
 '1000029-3',
 '1000030-8',
 '1000030-8',
 '1000030-7',
 '1000030-6',
 '1000030-6',
 '1000030-5',
 '1000030-5',
 '1000030-5',
 '1000030-4',
 '1000030-4',
 '1000030-3',
 '1000030-3',
 '1000030-3',
 '1000030-2',
 '1000030-2',
 '1000030-2',
 '1000030-1',
 '1000030-1',
 '1000030-1',
 '1000031-13',
 '1000031-12',
 '1000031-12',
 '1000031-12',
 '1000031-12',
 '1000031-11',
 '1000031-11',
 '1000031-10',
 '1000031-9',
 '1000031-8',
 '1000031-8',
 '1000031-8',
 '1000031-8',
 '1000031-8',
 '1000031-8',
 '1000031-7',
 '1000031-6',
 '1000031-6',
 '1000031-6',
 '1000031-6',
 '1000031-5',
 '1000031-4',
 '1000031-4',
 '1000031-4',
 '1000031-4',
 '1000031-3',
 '1000031-3',
 '1000031-2',
 '1000031-2',
 '1000031-2',
 '1000031-1',
 '1000031-1',
 '1000032-17',
 '1000032-16',
 '1000032-15',
 '1000032-14',
 '1000032-13',
 '1000032-12',
 '1000032-11',
 '1000032-10',
 '1000032-9',
 '1000032-8',
 '1000032-7',
 '1000033-16',
 '1000033-15',
 '1000033-14',
 '1000033-13',
 '1000033-12',
 '1000033-11',
 '1000034-24',
 '1000034-23',
 '1000034-22',
 '1000034-21',
 '1000034-20',
 '1000034-19',
 '1000034-18',
 '1000034-17',
 '1000036-30',
 '1000036-29',
 '1000036-28',
 '1000036-27',
 '1000037-96',
 '1000037-95',
 '1000038-84',
 '1000038-83',
 '1000038-82',
 '1000038-81',
 '1000039-36',
 '1000039-35',
 '1000039-34',
 '1000039-33',
 '1000039-32',
 '1000039-31',
 '1000040-25',
 '1000041-97',
 '1000041-96',
 '1000041-95',
 '1000041-94',
 '1000041-94',
 '1000041-93',
 '1000041-92',
 '1000041-91',
 '1000041-90',
 '1000041-90',
 '1000041-89',
 '1000041-89',
 '1000041-88',
 '1000041-87',
 '1000042-59',
 '1000042-58',
 '1000042-57',
 '1000042-56',
 '1000042-55',
 '1000042-54',
 '1000042-53',
 '1000042-52',
 '1000043-51',
 '1000043-50',
 '1000043-49',
 '1000043-48',
 '1000043-47',
 '1000043-46',
 '1000043-45',
 '1000043-44',
 '1000043-43',
 '1000043-42',
 '1000043-41',
 '1000044-84',
 '1000044-83',
 '1000044-82',
 '1000044-81',
 '1000045-96',
 '1000045-95',
 '1000045-94',
 '1000045-93',
 '1000045-92',
 '1000045-91',
 '1000045-90',
 '1000045-89',
 '1000045-88',
 '1000046-39',
 '1000046-38',
 '1000046-37',
 '1000046-36',
 '1000046-35',
 '1000046-34',
 '1000046-33',
 '1000046-32',
 '1000046-31',
 '1000046-30',
 '1000046-29',
 '1000047-35',
 '1000047-34',
 '1000047-33',
 '1000047-32',
 '1000047-31',
 '1000048-21',
 '1000048-20',
 '1000048-19',
 '1000048-18',
 '1000048-17',
 '1000048-16',
 '1000048-15',
 '1000048-14',
 '1000048-13',
 '1000048-12',
 '1000048-11',
 '1000048-10',
 '1000048-9',
 '1000048-8',
 '1000048-7',
 '1000048-6',
 '1000048-5',
 '1000048-4',
 '1000048-3',
 '1000048-2',
 '1000048-1',
 '1000049-10',
 '1000049-10',
 '1000049-10',
 '1000049-10',
 '1000049-8',
 '1000049-8',
 '1000050-10',
 '1000050-9',
 '1000050-8',
 '1000050-7',
 '1000050-6',
 '1000050-5',
 '1000050-4',
 '1000050-3',
 '1000050-2',
 '1000050-1',
 '1000051-57',
 '1000051-56',
 '1000051-55',
 '1000051-54',
 '1000051-53',
 '1000051-52',
 '1000051-51',
 '1000051-50',
 '1000051-50',
 '1000051-49',
 '1000051-49',
 '1000051-48',
 '1000051-48',
 '1000051-47',
 '1000051-47',
 '1000051-46',
 '1000052-36',
 '1000052-35',
 '1000052-34',
 '1000052-33',
 '1000052-32',
 '1000052-31',
 '1000052-31',
 '1000052-30',
 '1000052-30',
 '1000052-29',
 '1000052-28',
 '1000052-28',
 '1000052-27',
 '1000052-27',
 '1000053-46',
 '1000053-46',
 '1000053-44',
 '1000053-44',
 '1000053-44',
 '1000053-42',
 '1000053-42',
 '1000054-59',
 '1000054-58',
 '1000054-57',
 '1000054-56',
 '1000054-55',
 '1000054-54',
 '1000054-53',
 '1000054-52',
 '1000054-51',
 '1000055-39',
 '1000055-38',
 '1000055-37',
 '1000055-36',
 '1000055-35',
 '1000055-35',
 '1000055-35',
 '1000055-34',
 '1000055-34',
 '1000055-34',
 '1000055-33',
 '1000055-32',
 '1000055-31',
 '1000055-30',
 '1000056-39',
 '1000056-38',
 '1000056-37',
 '1000056-36',
 '1000056-35',
 '1000056-34',
 '1000056-33',
 '1000056-32',
 '1000057-19',
 '1000057-18',
 '1000057-17',
 '1000057-16',
 '1000057-15',
 '1000057-14',
 '1000057-13',
 '1000057-12',
 '1000057-11',
 '1000057-10',
 '1000057-9',
 '1000057-8',
 '1000058-13',
 '1000058-12',
 '1000058-11',
 '1000058-10',
 '1000058-9',
 '1000058-8',
 '1000058-7',
 '1000058-6',
 '1000058-5',
 '1000059-53',
 '1000059-52',
 '1000059-51',
 '1000059-50',
 '1000059-49',
 '1000059-48',
 '1000060-13',
 '1000060-12',
 '1000060-11',
 '1000060-10',
 '1000060-9',
 '1000060-8',
 '1000060-7',
 '1000061-69',
 '1000061-68',
 '1000061-67',
 '1000061-66',
 '1000061-65',
 '1000061-64',
 '1000061-63',
 '1000061-62',
 '1000061-61',
 '1000061-60',
 '1000062-77',
 '1000062-77',
 '1000062-76',
 '1000062-75',
 '1000062-74',
 '1000062-73',
 '1000062-72',
 '1000062-71',
 '1000062-70',
 '1000062-69',
 '1000062-68',
 '1000063-15',
 '1000063-14',
 '1000063-13',
 '1000063-12',
 '1000063-11',
 '1000063-10',
 '1000063-9',
 '1000063-8',
 '1000063-7',
 '1000063-6',
 '1000063-5',
 '1000064-62',
 '1000064-61',
 '1000064-60',
 '1000064-59',
 '1000064-58',
 '1000064-57',
 '1000064-56',
 '1000064-55',
 '1000065-14',
 '1000065-13',
 '1000065-12',
 '1000065-11',
 '1000065-10',
 '1000065-9',
 '1000065-8',
 '1000065-7',
 '1000065-6',
 '1000065-5',
 '1000065-4',
 '1000065-3',
 '1000065-2',
 '1000065-1',
 '1000065-1',
 '1000066-1',
 '1000067-23',
 '1000067-22',
 '1000067-21',
 '1000068-38',
 '1000068-37',
 '1000068-36',
 '1000068-35',
 '1000068-34',
 '1000068-33',
 '1000069-12',
 '1000069-11',
 '1000069-10',
 '1000069-9',
 '1000069-8',
 '1000069-7',
 '1000069-6',
 '1000069-5',
 '1000069-4',
 '1000070-23',
 '1000070-22',
 '1000070-21',
 '1000070-20',
 '1000071-50',
 '1000071-49',
 '1000071-48',
 '1000071-47',
 '1000071-46',
 '1000072-72',
 '1000072-71',
 '1000072-70',
 '1000072-69',
 '1000072-68',
 '1000072-67',
 '1000073-44',
 '1000073-43',
 '1000073-42',
 '1000073-41',
 '1000073-40',
 '1000073-39',
 '1000073-38',
 '1000073-37',
 '1000073-36',
 '1000073-35',
 '1000074-7',
 '1000074-7',
 '1000074-6',
 '1000074-5',
 '1000074-4',
 '1000074-3',
 '1000074-2',
 '1000074-1',
 '1000075-47',
 '1000075-46',
 '1000075-45',
 '1000075-44',
 '1000075-43',
 '1000075-42',
 '1000075-41',
 '1000075-40',
 '1000075-39',
 '1000075-38',
 '1000076-17',
 '1000076-16',
 '1000076-15',
 '1000076-14',
 '1000076-13',
 '1000076-12',
 '1000076-12',
 '1000076-11',
 '1000076-11',
 '1000076-10',
 '1000076-10',
 '1000076-9',
 '1000076-8',
 '1000076-8',
 '1000076-7',
 '1000076-7',
 '1000076-6',
 '1000076-6',
 '1000078-36',
 '1000078-36',
 '1000078-34',
 '1000078-34',
 '1000078-32',
 '1000078-32',
 '1000078-30',
 '1000078-30',
 '1000078-30',
 '1000078-28',
 '1000078-28',
 '1000078-28',
 '1000078-26',
 '1000078-26',
 '1000079-48',
 '1000079-47',
 '1000079-46',
 '1000079-46',
 '1000079-45',
 '1000079-44',
 '1000079-43',
 '1000079-42',
 '1000079-41',
 '1000079-41',
 '1000080-49',
 '1000080-48',
 '1000080-47',
 '1000080-46',
 '1000080-45',
 '1000080-44',
 '1000080-43',
 '1000080-43',
 '1000080-42',
 '1000081-13',
 '1000081-12',
 '1000081-12',
 '1000081-11',
 '1000082-23',
 '1000082-22',
 '1000082-21',
 '1000082-20',
 '1000082-19',
 '1000082-18',
 '1000082-17',
 '1000082-16',
 '1000082-15',
 '1000082-14',
 '1000082-13',
 '1000082-12',
 '1000082-11',
 '1000082-10',
 '1000082-9',
 '1000082-8',
 '1000082-8',
 '1000082-7',
 '1000082-6',
 '1000082-5',
 '1000082-4',
 '1000082-3',
 '1000082-2',
 '1000082-1',
 '1000084-28',
 '1000084-27',
 '1000084-26',
 '1000084-25',
 '1000084-24',
 '1000084-23',
 '1000084-22',
 '1000084-21',
 '1000084-20',
 '1000084-19',
 '1000084-18',
 '1000084-17',
 '1000084-16',
 '1000084-15',
 '1000084-14',
 '1000084-13',
 '1000084-12',
 '1000085-10',
 '1000085-9',
 '1000085-8',
 '1000085-7',
 '1000085-6',
 '1000085-5',
 '1000085-4',
 '1000085-3',
 '1000085-2',
 '1000085-1',
 '1000086-29',
 '1000086-28',
 '1000086-27',
 '1000086-26',
 '1000086-25',
 '1000086-24',
 '1000086-23',
 '1000087-31',
 '1000087-30',
 '1000087-30',
 '1000087-29',
 '1000087-29',
 '1000087-29',
 '1000087-28',
 '1000087-27',
 '1000087-27',
 '1000087-26',
 '1000087-26',
 '1000087-25',
 '1000087-25',
 '1000087-24',
 '1000087-24',
 '1000087-23',
 '1000087-23',
 '1000087-22',
 '1000087-22',
 '1000087-22',
 '1000087-21',
 '1000087-21',
 '1000087-20',
 '1000087-20',
 '1000087-19',
 '1000087-18',
 '1000087-17',
 '1000087-16',
 '1000087-15',
 '1000087-14',
 '1000087-13',
 '1000087-12',
 '1000087-11',
 '1000087-10',
 '1000087-9',
 '1000087-8',
 '1000087-7',
 '1000087-6',
 '1000087-5',
 '1000087-4',
 '1000087-3',
 '1000087-2',
 '1000087-1',
 '1000088-14',
 '1000088-13',
 '1000088-12',
 '1000088-11',
 '1000088-10',
 '1000088-9',
 '1000088-8',
 '1000088-7',
 '1000088-6',
 '1000088-5',
 '1000088-4',
 '1000088-3',
 '1000090-30',
 '1000090-29',
 '1000090-28',
 '1000090-28',
 '1000090-27',
 '1000090-26',
 '1000090-25',
 '1000090-24',
 '1000090-23',
 '1000090-22',
 '1000090-22',
 '1000090-21',
 '1000090-20',
 '1000090-19',
 '1000090-18',
 '1000090-17',
 '1000090-16',
 '1000090-15',
 '1000090-14',
 '1000090-13',
 '1000090-13',
 '1000090-12',
 '1000090-11',
 '1000090-10',
 '1000090-9',
 '1000090-8',
 '1000090-7',
 '1000090-6',
 '1000090-5',
 '1000090-4',
 '1000090-3',
 '1000090-3',
 '1000090-2',
 '1000090-1',
 '1000091-48',
 '1000091-47',
 '1000091-46',
 '1000091-45',
 '1000091-44',
 '1000091-43',
 '1000091-42',
 '1000092-91',
 '1000092-90',
 '1000092-89',
 '1000092-88',
 '1000092-87',
 '1000092-86',
 '1000092-85',
 '1000092-84',
 '1000092-84',
 '1000092-83',
 '1000092-83',
 '1000092-82',
 '1000093-92',
 '1000093-91',
 '1000093-90',
 '1000093-89',
 '1000093-88',
 '1000093-87',
 '1000094-88',
 '1000094-87',
 '1000094-87',
 '1000094-86',
 '1000094-86',
 '1000094-86',
 '1000094-85',
 '1000094-84',
 '1000094-83',
 '1000094-81',
 '1000094-81',
 '1000094-80',
 '1000094-80',
 '1000094-79',
 '1000094-79',
 '1000094-78',
 '1000094-78',
 '1000094-77',
 '1000094-77',
 '1000094-76',
 '1000094-76',
 '1000094-75',
 '1000094-74',
 '1000094-73',
 '1000094-72',
 '1000094-72',
 '1000094-71',
 '1000094-71',
 '1000094-70',
 '1000094-69',
 '1000094-69',
 '1000094-68',
 '1000094-68',
 '1000094-67',
 '1000094-67',
 '1000094-66',
 '1000094-66',
 '1000094-65',
 '1000094-65',
 '1000094-64',
 '1000094-64',
 '1000094-63',
 '1000094-62',
 '1000094-61',
 '1000094-60',
 '1000094-59',
 '1000094-58',
 '1000094-57',
 '1000094-56',
 '1000094-55',
 '1000094-54',
 '1000094-53',
 '1000094-52',
 '1000094-51',
 '1000094-50',
 '1000094-49',
 '1000094-48',
 '1000094-47',
 '1000094-46',
 '1000094-45',
 '1000094-44',
 '1000094-43',
 '1000094-43',
 '1000094-42',
 '1000094-42',
 '1000094-41',
 '1000094-41',
 '1000094-40',
 '1000094-40',
 '1000094-39',
 '1000094-39',
 '1000094-39',
 '1000094-38',
 '1000094-38',
 '1000094-37',
 '1000094-37',
 '1000094-36',
 '1000094-35',
 '1000094-34',
 '1000094-33',
 '1000094-32',
 '1000094-31',
 '1000094-30',
 '1000094-29',
 '1000094-28',
 '1000094-27',
 '1000094-26',
 '1000094-25',
 '1000094-24',
 '1000094-23',
 '1000094-22',
 '1000094-21',
 '1000094-20',
 '1000094-19',
 '1000094-18',
 '1000094-16',
 '1000094-16',
 '1000094-14',
 '1000094-14',
 '1000094-12',
 '1000095-97',
 '1000095-96',
 '1000095-95',
 '1000095-94',
 '1000095-93',
 '1000095-92',
 '1000096-97',
 '1000096-96',
 '1000096-95',
 '1000096-94',
 '1000096-94',
 '1000096-93',
 '1000096-92',
 '1000096-91',
 '1000096-90',
 '1000096-89',
 '1000096-88',
 '1000096-87',
 '1000096-86',
 '1000096-85',
 '1000096-85',
 '1000096-84',
 '1000096-84',
 '1000096-84',
 '1000096-83',
 '1000096-83',
 '1000096-82',
 '1000096-81',
 '1000096-80',
 '1000096-78',
 '1000096-77',
 '1000096-76',
 '1000096-75',
 '1000096-74',
 '1000096-73',
 '1000096-72',
 '1000096-71',
 ...]

In [9]:
POS_CASH_balance

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,aux1
6030662,1000001,158271,-10,12.0,12.0,Active,0,0,1000001-10
8470736,1000001,158271,-9,12.0,11.0,Active,0,0,1000001-9
45995,1000001,158271,-8,2.0,0.0,Completed,0,0,1000001-8
4467804,1000002,101962,-54,4.0,4.0,Active,0,0,1000002-54
3346102,1000002,101962,-53,6.0,3.0,Active,0,0,1000002-53
...,...,...,...,...,...,...,...,...,...
5675189,2843499,314148,-34,60.0,54.0,Active,0,0,2843499-34
1722726,2843499,314148,-33,60.0,52.0,Active,0,0,2843499-33
804539,2843499,314148,-32,60.0,51.0,Active,0,0,2843499-32
5580339,2843499,314148,-31,10.0,0.0,Active,0,0,2843499-31
8600392,2843499,314148,-30,10.0,0.0,Completed,0,0,2843499-30

In [13]:
POS_CASH_balance[~POS_CASH_balance['aux1'].isin(installments_payments['aux1'].tolist())]

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,aux1
6030662,1000001,158271,-10,12.0,12.0,Active,0,0,1000001-10
4467804,1000002,101962,-54,4.0,4.0,Active,0,0,1000002-54
6584537,1000003,252457,-4,12.0,12.0,Active,0,0,1000003-4
4078063,1000004,260094,-22,7.0,0.0,Completed,0,0,1000004-22
7852623,1000005,176456,-46,10.0,0.0,Completed,0,0,1000005-46
...,...,...,...,...,...,...,...,...,...
981864,2843494,292375,-24,2.0,0.0,Completed,0,0,2843494-24
4592807,2843495,260963,-16,60.0,60.0,Active,0,0,2843495-16
2802744,2843497,451578,-21,24.0,24.0,Active,0,0,2843497-21
2223855,2843498,393881,-42,6.0,0.0,Completed,0,0,2843498-42
8600392,2843499,314148,-30,10.0,0.0,Completed,0,0,2843499-30

In [10]:
id_not_mach=POS_CASH_balance[~POS_CASH_balance['aux1'].isin(installments_payments['aux1'].tolist())]['SK_ID_PREV'].tolist()

In [14]:
installments_payments[~installments_payments.SK_ID_PREV.isin(id_not_mach)]

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_INSTALMENT,aux1
11478850,1000010,377567,1.0,1,-558.0,-568.0,74682.00,74682.00,-19,1000010-19
9169403,1000010,377567,1.0,2,-528.0,-528.0,74682.00,74682.00,-18,1000010-18
8286404,1000010,377567,1.0,3,-498.0,-502.0,74682.00,74682.00,-17,1000010-17
8188577,1000010,377567,1.0,4,-468.0,-471.0,74682.00,74682.00,-16,1000010-16
11235312,1000010,377567,1.0,5,-438.0,-457.0,74682.00,74682.00,-15,1000010-15
...,...,...,...,...,...,...,...,...,...,...
11750706,2843496,425374,0.0,28,-86.0,-92.0,328.23,328.23,-3,2843496-3
12927628,2843496,425374,0.0,29,-92.0,-92.0,121.77,121.77,-3,2843496-3
13217253,2843496,425374,0.0,30,-77.0,-77.0,121.77,121.77,-3,2843496-3
11626597,2843496,425374,0.0,31,-46.0,-46.0,121.77,121.77,-2,2843496-2
12958814,2843496,425374,0.0,32,-16.0,-16.0,121.77,121.77,-1,2843496-1

In [12]:
pritn(oi)

NameError: name 'pritn' is not defined

In [ ]:
POS_CASH_balance.NAME_CONTRACT_STATUS.unique()

In [ ]:
POS_CASH_balance[POS_CASH_balance.NAME_CONTRACT_STATUS.isin(['Active'])]

In [ ]:
oi = POS_CASH_balance[POS_CASH_balance.NAME_CONTRACT_STATUS.isin(['Active'])]['SK_ID_PREV'].to_list()

In [ ]:
tchau = installments_payments[installments_payments.SK_ID_PREV.isin(oi)]['SK_ID_PREV'].tolist()

In [ ]:
POS_CASH_balance[POS_CASH_balance.SK_ID_PREV.isin(tchau)]

In [ ]:
x=credit_card_balance['MONTHS_BALANCE'].astype('str')+credit_card_balance['SK_ID_CURR'].astype('str')
y=POS_CASH_balance['MONTHS_BALANCE'].astype('str')+POS_CASH_balance['SK_ID_CURR'].astype('str')

In [ ]:
print('unique',len(list(set(x) & set(y))))
print('lenx',len(set(x)))
print('leny',len(set(y)))

In [ ]:
print(application.columns & previous_application.columns)
print(previous_application.columns)

In [ ]:
data = pd.merge(application, previous_application, how='left')

In [ ]:
data = pd.merge(data, POS_CASH_balance, how='left')

In [ ]:
data = pd.merge(data, credit_card_balance, how='left')

In [ ]:
data.to_excel('allmerger.xlsx')

In [ ]:
data['MONTHS_BALANCE'].isna().sum()/(len(data['MONTHS_BALANCE']))

In [ ]:
print(len(set(credit_card_balance['SK_ID_PREV'].astype('str'))))
print(len(set(POS_CASH_balance['SK_ID_PREV'].astype('str'))))

In [ ]:
data=pd.merge(credit_card_balance, POS_CASH_balance, how='outer', left_on=['SK_ID_PREV','SK_ID_CURR','MONTHS_BALANCE'], right_on=['SK_ID_PREV','SK_ID_CURR','MONTHS_BALANCE'])

In [ ]:
data.isna()

In [ ]:
data[data['SK_ID_CURR_x']==378907]

In [ ]:
data

In [ ]:
POS_CASH_balance.sort_values(by=['SK_ID_CURR','SK_ID_PREV','MONTHS_BALANCE'])

In [ ]:
pd.isna(POS_CASH_balance['SK_ID_CURR']).sum()

In [ ]:
POS_CASH_balance['SK_ID_PREV'] = POS_CASH_balance['SK_ID_PREV'].astype('str')
POS_CASH_balance['SK_ID_CURR'] = POS_CASH_balance['SK_ID_CURR'].astype('str')
POS_CASH_balance['MONTHS_BALANCE'] = POS_CASH_balance['MONTHS_BALANCE'].astype('str')
credit_card_balance['SK_ID_PREV'] = credit_card_balance['SK_ID_PREV'].astype('str')
credit_card_balance['SK_ID_CURR'] = credit_card_balance['SK_ID_CURR'].astype('str')
credit_card_balance['MONTHS_BALANCE'] = credit_card_balance['MONTHS_BALANCE'].astype('str')

In [ ]:
credit_card_balance.dtypes

In [ ]:
print(previous_application.shape)
print(credit_card_balance.shape)
print(POS_CASH_balance.shape)
print(installments_payments.shape)

In [ ]:
print(oi)

In [ ]:
credit_card_balance.shape

In [ ]:
POS_CASH_balance.groupby(['SK_ID_CURR','SK_ID_PREV','MONTHS_BALANCE']).agg({'CNT_INSTALMENT':'mean'})

In [ ]:
x=credit_card_balance['MONTHS_BALANCE'].astype('str')+credit_card_balance['SK_ID_CURR'].astype('str')+credit_card_balance['SK_ID_PREV'].astype('str')
print(len(x))
print(len(x.unique()))

In [ ]:
x=POS_CASH_balance['MONTHS_BALANCE'].astype('str')+POS_CASH_balance['SK_ID_CURR'].astype('str')+POS_CASH_balance['SK_ID_PREV'].astype('str')
print(len(x))
print(len(x.unique()))

In [ ]:
print(credit_card_balance.columns)
print(POS_CASH_balance.columns)

In [ ]:
data = POS_CASH_balance.merge(credit_card_balance, on=['SK_ID_PREV'] , how='inner')

In [ ]:
data

In [ ]:
x=POS_CASH_balance['SK_ID_PREV'].astype('str')+data['SK_ID_CURR'].astype('str')+data['MONTHS_BALANCE'].astype('str')

In [ ]:
len(x)

In [ ]:
len(x.unique())

In [ ]:
print(oi)

In [ ]:
x[:10]

# estou tentado juntar credit_card_balance e POS_CASh em id current e mes. para ver se estava funcionando criei x, juncao de mes e id. se estivesse certo cada x[i] seria unico. esta errado, len de x diverente de len de x unique

In [ ]:
data = bureau[['SK_ID_CURR','SK_ID_BUREAU']].merge(bureau_balance, on='SK_ID_BUREAU', how='inner')

In [ ]:
data = data.replace(['C','X'],0)
data['STATUS'] = data['STATUS'].astype(int)

In [ ]:
data = data.groupby(['SK_ID_CURR','MONTHS_BALANCE']).agg({'STATUS':'mean'}).unstack().fillna(0)

In [ ]:
POS_CASH_balance.groupby(['SK_ID_CURR','MONTHS_BALANCE']).agg({'CNT_INSTALMENT':'mean', 'CNT_INSTALMENT_FUTURE':'mean'}).unstack().fillna(0)

In [ ]:
data

In [ ]:
data = data.merge(application[['SK_ID_CURR','TARGET']], on= 'SK_ID_CURR')

In [ ]:
data[data.columns[1:-1]]

In [ ]:
npdata=data[data.columns[1:-1]].to_numpy().reshape((92231,97,1))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(npdata, data['TARGET'], test_size=0.33, random_state=42)

In [ ]:
npdata.train_test

In [ ]:
npdata.shape

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.LSTM(30, return_sequences = True),
    tf.keras.layers.LSTM(2, return_sequences = False)
])

In [ ]:
model.compile(optimizer='adam', 
              loss='mean_squared_error', 
              metrics='accuracy')

In [ ]:
history = model.fit(x=X_train, y=y_train, epochs= 20, batch_size=300, validation_data=(X_test,y_test) )

In [ ]:
history.history.keys()

In [ ]:
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'val'], loc='upper left')
plt.show()

In [ ]:
# data[data.columns[1:-1]].reshape(92231, 97,1)
np.reshape(data, data.shape + (1,))

In [ ]:
np.reshape(data[data.columns[1:-1]], ( 97,1))

In [ ]:
print(data[data.columns[1:-1]].shape, data['TARGET'].shape)

In [ ]:
model.fit(x=data[data.columns[1:-1]], y=data['TARGET'], epochs= 10)

In [ ]:
bureau_balance[bureau_balance['STATUS'].isna()==True]

In [ ]:
bureau_balance.groupby(['SK_ID_CURR','MONTHS_BALANCE']).agg({'STATUS':'first'}).unstack()

In [ ]:
months=bureau_balance['MONTHS_BALANCE'].unique()
id_b= bureau_balance['SK_ID_BUREAU'].unique()

In [ ]:
pivoted_bureau_balance = pd.DataFrame(index=id_b, columns=months)

In [ ]:
for i, column in bureau_balance:
    print(i)

In [ ]:
pd.pivot_table(bureau_balance, values='STATUS', index='SK_ID_BUREAU')

In [ ]:
data = application.merge(bureau.merge(bureau_balance, on='SK_ID_BUREAU', how='inner'), on='SK_ID_CURR', how='inner')

In [ ]:
pd.merge(application,bureau, on='SK_ID_CURR', how='cross').shape[0]<=application.shape[0]

In [ ]:
data = pd.merge(application,bureau,on='SK_ID_CURR', how='left')
# data = pd.merge(pd.merge(application,bureau,on='SK_ID_CURR'),bureau_balance,on='SK_ID_BUREAU')
data

In [ ]:
application.shape

In [ ]:
len(bureau['SK_ID_CURR'].unique())

In [ ]:
bureau.columns

In [ ]:
col_to_delet=application.corrwith(application.TARGET).abs().sort_values(ascending=False)[69:].index

In [ ]:
application = application.drop(col_to_delet, axis=1)

In [ ]:
fig, ax = plt.subplots(figsize=(25,25))  
sns.heatmap(data.corr())

In [ ]:
for i in data.columns:
    print(data[i].isna().sum())