In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
physical_devices = tf.config.list_physical_devices('GPU')
tf.config.experimental.set_memory_growth(physical_devices[0], enable=True)

In [2]:
application = pd.read_csv('./data/application_train.csv')
bureau = pd.read_csv('./data/bureau.csv')
bureau_balance =  pd.read_csv('./data/bureau_balance.csv')
POS_CASH_balance =  pd.read_csv('./data/POS_CASH_balance.csv')
credit_card_balance =  pd.read_csv('./data/credit_card_balance.csv')
# previous_application =  pd.read_csv('./data/previous_application.csv')
# installments_payments =  pd.read_csv('./data/installments_payments.csv')

In [3]:
credit_card_balance.shape

(3840312, 23)

In [29]:
POS_CASH_balance.groupby(['SK_ID_CURR','SK_ID_PREV','MONTHS_BALANCE']).agg({'CNT_INSTALMENT':'mean'})

                                      CNT_INSTALMENT
SK_ID_CURR SK_ID_PREV MONTHS_BALANCE
100001     1369693    -57                        4.0
                      -56                        4.0
                      -55                        4.0
                      -54                        4.0
                      -53                        4.0
...                                              ...
456255     2631384    -2                        24.0
           2729207    -16                        6.0
                      -15                        6.0
                      -14                        3.0
                      -13                        3.0

[10001358 rows x 1 columns]

In [16]:
x=credit_card_balance['MONTHS_BALANCE'].astype('str')+credit_card_balance['SK_ID_CURR'].astype('str')+credit_card_balance['SK_ID_PREV'].astype('str')
print(len(x))
print(len(x.unique()))

3840312
3840312

In [17]:
x=POS_CASH_balance['MONTHS_BALANCE'].astype('str')+POS_CASH_balance['SK_ID_CURR'].astype('str')+POS_CASH_balance['SK_ID_PREV'].astype('str')
print(len(x))
print(len(x.unique()))

10001358
10001358

In [26]:
print(credit_card_balance.columns)
print(POS_CASH_balance.columns)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')
Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'CNT_INSTALMENT',
       'CNT_INSTALMENT_FUTURE', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [24]:
data = POS_CASH_balance.merge(credit_card_balance, on=['SK_ID_PREV'] , how='inner')

In [25]:
data

Empty DataFrame
Columns: [SK_ID_PREV, SK_ID_CURR_x, MONTHS_BALANCE_x, CNT_INSTALMENT, CNT_INSTALMENT_FUTURE, NAME_CONTRACT_STATUS_x, SK_DPD_x, SK_DPD_DEF_x, SK_ID_CURR_y, MONTHS_BALANCE_y, AMT_BALANCE, AMT_CREDIT_LIMIT_ACTUAL, AMT_DRAWINGS_ATM_CURRENT, AMT_DRAWINGS_CURRENT, AMT_DRAWINGS_OTHER_CURRENT, AMT_DRAWINGS_POS_CURRENT, AMT_INST_MIN_REGULARITY, AMT_PAYMENT_CURRENT, AMT_PAYMENT_TOTAL_CURRENT, AMT_RECEIVABLE_PRINCIPAL, AMT_RECIVABLE, AMT_TOTAL_RECEIVABLE, CNT_DRAWINGS_ATM_CURRENT, CNT_DRAWINGS_CURRENT, CNT_DRAWINGS_OTHER_CURRENT, CNT_DRAWINGS_POS_CURRENT, CNT_INSTALMENT_MATURE_CUM, NAME_CONTRACT_STATUS_y, SK_DPD_y, SK_DPD_DEF_y]
Index: []

[0 rows x 30 columns]

In [12]:
x=POS_CASH_balance['SK_ID_PREV'].astype('str')+data['SK_ID_CURR'].astype('str')+data['MONTHS_BALANCE'].astype('str')

In [13]:
len(x)

13841670

In [14]:
len(x.unique())

10001359

In [11]:
print(oi)

NameError: name 'oi' is not defined

In [ ]:
x[:10]

# estou tentado juntar credit_card_balance e POS_CASh em id current e mes. para ver se estava funcionando criei x, juncao de mes e id. se estivesse certo cada x[i] seria unico. esta errado, len de x diverente de len de x unique

In [ ]:
data = bureau[['SK_ID_CURR','SK_ID_BUREAU']].merge(bureau_balance, on='SK_ID_BUREAU', how='inner')

In [ ]:
data = data.replace(['C','X'],0)
data['STATUS'] = data['STATUS'].astype(int)

In [ ]:
data = data.groupby(['SK_ID_CURR','MONTHS_BALANCE']).agg({'STATUS':'mean'}).unstack().fillna(0)

In [ ]:
POS_CASH_balance.groupby(['SK_ID_CURR','MONTHS_BALANCE']).agg({'CNT_INSTALMENT':'mean', 'CNT_INSTALMENT_FUTURE':'mean'}).unstack().fillna(0)

In [ ]:
data

In [ ]:
data = data.merge(application[['SK_ID_CURR','TARGET']], on= 'SK_ID_CURR')

In [ ]:
data[data.columns[1:-1]]

In [ ]:
npdata=data[data.columns[1:-1]].to_numpy().reshape((92231,97,1))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(npdata, data['TARGET'], test_size=0.33, random_state=42)

In [ ]:
npdata.train_test

In [ ]:
npdata.shape

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.LSTM(30, return_sequences = True),
    tf.keras.layers.LSTM(2, return_sequences = False)
])

In [ ]:
model.compile(optimizer='adam', 
              loss='mean_squared_error', 
              metrics='accuracy')

In [ ]:
history = model.fit(x=X_train, y=y_train, epochs= 20, batch_size=300, validation_data=(X_test,y_test) )

In [ ]:
history.history.keys()

In [ ]:
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'val'], loc='upper left')
plt.show()

In [ ]:
# data[data.columns[1:-1]].reshape(92231, 97,1)
np.reshape(data, data.shape + (1,))

In [ ]:
np.reshape(data[data.columns[1:-1]], ( 97,1))

In [ ]:
print(data[data.columns[1:-1]].shape, data['TARGET'].shape)

In [ ]:
model.fit(x=data[data.columns[1:-1]], y=data['TARGET'], epochs= 10)

In [ ]:
bureau_balance[bureau_balance['STATUS'].isna()==True]

In [ ]:
bureau_balance.groupby(['SK_ID_CURR','MONTHS_BALANCE']).agg({'STATUS':'first'}).unstack()

In [ ]:
months=bureau_balance['MONTHS_BALANCE'].unique()
id_b= bureau_balance['SK_ID_BUREAU'].unique()

In [ ]:
pivoted_bureau_balance = pd.DataFrame(index=id_b, columns=months)

In [ ]:
for i, column in bureau_balance:
    print(i)

In [ ]:
pd.pivot_table(bureau_balance, values='STATUS', index='SK_ID_BUREAU')

In [ ]:
data = application.merge(bureau.merge(bureau_balance, on='SK_ID_BUREAU', how='inner'), on='SK_ID_CURR', how='inner')

In [ ]:
pd.merge(application,bureau, on='SK_ID_CURR', how='cross').shape[0]<=application.shape[0]

In [ ]:
data = pd.merge(application,bureau,on='SK_ID_CURR', how='left')
# data = pd.merge(pd.merge(application,bureau,on='SK_ID_CURR'),bureau_balance,on='SK_ID_BUREAU')
data

In [ ]:
application.shape

In [ ]:
len(bureau['SK_ID_CURR'].unique())

In [ ]:
bureau.columns

In [ ]:
col_to_delet=application.corrwith(application.TARGET).abs().sort_values(ascending=False)[69:].index

In [ ]:
application = application.drop(col_to_delet, axis=1)

In [ ]:
fig, ax = plt.subplots(figsize=(25,25))  
sns.heatmap(data.corr())

In [ ]:
for i in data.columns:
    print(data[i].isna().sum())