In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('../treated_data/df_merged.csv', index_col=0)


with open('../treated_data/type_of_feature2.json', 'r') as fp:
    type_of_feature = json.load(fp)

/home/mateus/anaconda3/envs/home-credit/lib/python3.8/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
# Create dummies for static features
df_dynamic = pd.get_dummies(df[type_of_feature['dynamic']])



# # Fill na with mean
# df_dynamic = df_dynamic.fillna(None)
# # Pivot df on Months to turn df on a time series
# df_dynamic_pivot = df_dynamic.pivot_table(values=list(set(df_dynamic.columns)-set(['SK_ID_PREV', 'MONTHS_BALANCE','SK_ID_CURR'])), index='SK_ID_CURR', columns='MONTHS_BALANCE')
# # when pivoting na apear before the first event
# df_dynamic_pivot = df_dynamic_pivot.fillna(0)

In [4]:
df_dynamic

,SK_ID_CURR,SK_ID_PREV,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,SK_DPD,SK_DPD_DEF,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,...,NAME_CONTRACT_STATUS_Approved,NAME_CONTRACT_STATUS_Canceled,NAME_CONTRACT_STATUS_Completed,NAME_CONTRACT_STATUS_Demand,NAME_CONTRACT_STATUS_Returned to the store,NAME_CONTRACT_STATUS_Signed,STATUS_0.0,STATUS_0,STATUS_C,STATUS_X
0,333721,2831212.0,-16,12.0,10.0,0.0,0.0,1.0,2.0,-477.0,...,0,0,0,0,0,0,0,0,0,0
1,333721,2831212.0,-14,12.0,8.0,0.0,0.0,1.0,4.0,-417.0,...,0,0,0,0,0,0,0,0,0,0
2,333721,2831212.0,-18,12.0,12.0,0.0,0.0,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
3,333721,2538537.0,-22,6.0,3.0,0.0,0.0,1.0,4.0,-650.0,...,0,0,0,0,0,0,0,0,0,0
4,333721,2538537.0,-23,6.0,4.0,0.0,0.0,1.0,3.0,-680.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451226,456254,1792910.0,-4,14.0,7.0,0.0,0.0,1.0,7.0,-111.0,...,0,0,0,0,0,0,0,0,0,0
1451227,456254,2016407.0,-8,16.0,15.0,0.0,0.0,1.0,1.0,-247.0,...,0,0,0,0,0,0,0,0,0,0
1451228,456254,1792910.0,-7,14.0,10.0,0.0,0.0,1.0,4.0,-201.0,...,0,0,0,0,0,0,0,0,0,0
1451229,456254,1792910.0,-3,14.0,6.0,0.0,0.0,1.0,8.0,-81.0,...,0,0,0,0,0,0,0,0,0,0
1451230,456254,2016407.0,-2,16.0,9.0,0.0,0.0,1.0,7.0,-67.0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df_dynamic.to_csv('../treated_data/df_dynamic.csv', index=False)